@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --mountainPink: #a6808c;
  --paleDogwood: #ccb7ae;
  --mindaro: #dbff76;
  --spaceCadet: #202c59;
  --caputMortum: #581f18;
  --spotifyGreen: #1db954;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f1f1f1;
  max-width: 100%;
}

header {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

section {
  position: relative;
  text-align: justify;
  border: 5px solid black;
  margin: 1% 0;
  max-width: 100%;
  overflow: auto;
}

#divSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: 10%;
  margin-right: 10%;
}

.reveal,
.showModal {
  top: 0;
}
.authTab {
  display: flex;
  flex-direction: column;
}

.authTab h3 {
  flex: 1 0 30%;
  text-align: center;
}

.authTab div {
  flex: 1 0 60%;
  margin-right: 5px;
}

#authSection {
  flex: 1 0 auto;
  padding: 2%;
}

#authSection h2 {
  text-align: center;
  color: var(--spotifyGreen);
}

#artistSection {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

#artistSection article {
  margin: 5px;
  flex: 1 0 50%;
}

#artistSection aside {
  border: 5px solid darkgreen;
  margin: 5px;
  flex: 1 0 40%;
}

#authBtn {
  background-color: var(--spotifyGreen);
  color: var(--spaceCadet);
}

.artistGenerated {
  list-style-type: none;
}

.artistGen {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#searchResult {
  display: flex;
}

#playlistTitle {
  flex: 1 0 20%;
  text-align: center;
}

#searchTicket {
  flex: 1 0 70%;
}

.artistGroup {
  display: flex;
  flex-direction: row;
}

.artistName {
  flex: 1 0 200px;
}

footer {
  text-align: center;
  color: var(--mindaro);
  background-color: var(--spaceCadet);
  position: absolute;
  bottom: 0;
  width: 100%;
}

#map {
  width: 390px;
  height: 390px;
}

@media (max-width: 600px) {
  .authTab {
    flex-direction: column;
  }
  #secondSection {
    flex-direction: column;
  }
}
