@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --mountainPink: #a6808c;
  --paleDogwood: #ccb7ae;
  --mindaro: #dbff76;
  --spaceCadet: #202c59;
  --caputMortum: #581f18;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f1f1f1;
  max-width: 100%;
}

header {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

section {
  position: relative;
  text-align: justify;
  border: 5px solid black;
  margin: 1% 0;
  max-width: 100%;
  overflow: auto;
}

#divSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: 10%;
  margin-right: 10%;
}

.authTab {
  display: flex;
}

.authTab h3 {
  flex: 1 0 30%;
}

.authTab div {
  flex: 1 0 60%;
  margin-right: 5px;
}

#authSection {
  flex: 1 0 auto;
  padding: 2%;
}

#artistSection {
  display: flex;
  flex: 1 0 auto;
}

#artistSection article {
  border: 5px solid darkblue;
  margin: 5px;
  flex: 1 0 50%;
}

#artistSection aside {
  border: 5px solid darkgreen;
  margin: 5px;
  flex: 1 0 40%;
}

#authBtn {
  background-color: var(--mindaro);
  color: var(--spaceCadet);
}

.artistGroup {
  display: flex;
  flex-direction: row;
}

.artistName {
  flex: 1 0 200px;
}

#authBtn {
  background-color: var(--mindaro);
  color: var(--spaceCadet);
}

@media (max-width: 600px) {
  .authTab {
    flex-direction: column;
  }
  #secondSection {
    flex-direction: column;
  }
}

#map {
  width: 390px;
  height: 390px;
}
